body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .car-image {
    position: relative;
    top: 25vh;
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s;
  }
  
  .car-image:hover {
    transition-duration: 0.5s;
    box-shadow: 0 10px 40px -4px rgb(0 0 0 / 55%);
  }
  

  
  
  .car-image:hover .car-image {
    transform: translateX(0px);
  }
  
  .car-image img {
position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .car-image__info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    margin-right: 239px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 0px;
    color: grey;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    transform: translateY(55px);

    transition: transform 1s linear;
   
  }

  .car-image:hover .car-image__info {
   
    transform: translateY(0px);
}

 
.car-image__download {
    position: absolute;
    right: 0;
    bottom: -10;
    left: 114px;
    top: 319px;
    text-align: left;
    margin-right: 239px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 73px;
    color: grey;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    transform: translateY(55px);

    transition: transform 1s linear;
   
  }

  .car-image:hover .car-image__download {
   
    transform: translateY(0px);
}

 
.car-image__dot {
    position: absolute;
    right: 0;
    bottom: -10;
    left: 215px;
    top: 319px;
    text-align: left;
    margin-right: 239px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 20px;
    color: grey;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    transform: translateY(55px);

    transition: transform 1s linear;
   
  }

  .car-image:hover .car-image__dot {
   
    transform: translateY(0px);
}

  
  .car-image__make {
    font-weight: bold;
  }
  

  .save {
    color:white;
    text-align: center;
    position:absolute;
    padding-top: 6px;
    width: 80px;
    height:30px;
    background-color: red;

    border-radius:20px;
    top:20px;
     right:20px;
     transform: translateY(-70px);

     transition: transform 1s linear;

}
.car-image:hover .save {
   
    transform: translateY(0px);
}

  
  .car-image__save {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 40%);
  }
